<!DOCTYPE html>
<html lang="ja">
<head>
{% block header %}
<meta charset="utf-8">
<title>HelloWorld</title>

<!-- Le styles -->
<link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<style>
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>
<link href="assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}
{% block subheader %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
