{% extends 'base.twig'%}
{% block body %}
<div class="container">
<h1>ようこそレガシーなphpサイトへ</h1>
<p>さっさとフレームワークを使いな！</p>
<p><a class="btn btn-primary" href="user/login.php">ログインはこちら</a></p>
</div> <!-- /container -->
{% endblock %}
